#nombre .contenedor-nombre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#nombre{

}
#nombre img{
    width: 70%;
    height: 70%;
    position: relative;
    top: 50px;
}
@media (min-width:768px){
    #nombre img{
        width: 100%
    }
}