#vinculos1 .contenedor{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    position: relative;
    top: 47px
}
#vinculos1{
}
#vinculos1 a{
    color: #009D9D;
    padding: 10px;
    background-color: black;
    font-size: 12px;

}
#vinculos1 a:hover{
    background-color: #009D9D;
    color: white;
}
@media(min-width:768px){
    #vinculos1 a{
        font-size: 19px;
        position: relative;
        top: 7px
    }
}