#vinculoso .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#vinculoso{
    margin-bottom: 10px;
    position: relative;
    top: 14px;
    left: 10px;
}
#vinculoso a{
    height: auto;
    margin-right: 30px;

}
#vinculoso img{
    width: 60%;
}

@media(min-width:1200px){
    #vinculoso a{
        position: relative;
        left: 480px;
    }
}
@media(min-width:768px){
    #vinculoso a{
        position: relative;
        left: 10px;
    }
}
  
  